fastapi==0.115.0
uvicorn[standard]
# IMPORTANT: Use gunicorn for production stability
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
insightface
faiss-cpu
opencv-python
numpy
python-multipart
face_recognition